body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}
h1 {
    color: #333;
    text-align: center;
    margin-top: 20px;
}

.formDiv, .tableDiv {
    background-color: #fff;
    padding: 20px;
    margin: 0px auto;
    width: 400px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;

}
#form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    border-radius: 5px;
}

label {
    margin: auto;
    margin-bottom: 5px;
    color: #826c6c;
}

#errorMessage {
    color: red;
    font-size: 1rem;
    font-weight: 600; 
}

#generateBtn {
    margin-top: 10px;
    padding: 10px 15px;
    background-color: #b1b3b1;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
#generateBtn:hover {
    background-color: #999b99;
}

.tableDiv {
    display: none;
    width: 80%;              
    max-width: 800px;        
    max-height: 400px;       
    overflow: auto;          
    margin: 20px auto;       
    border: 1px solid #ccc;
}
#multiplicationTable th, #multiplicationTable td {
    min-width: 50px;
    max-width: 80px;
    padding: 4px 6px;
    font-size: 0.9em;
    text-align: center;
    border: 1px solid #999;
}
#multiplicationTable th {
    background-color: #f0f0f0;
    font-weight: bold;
}
#multiplicationTable tr:nth-child(even) {
  background-color: #efbebe;
}

#multiplicationTable tr:nth-child(odd) {
  background-color: #c2f5fe;
}